.grafico30{
    width: 60%;
    margin-top: 70px;
}
.h3-titulo{
    margin-bottom: 30px;
}

.Col-graficos{
    justify-items: center;
    margin-bottom: 60px;

}


.table>:not(caption)>*>*{
padding: 20px;
}
